<div class="row justify-content-center">
  <h1>Find the right painting for you.</h1>
</div>

<!-- <div class="container mt-3 mb-5"> -->

  <div class="card-container d-flex">

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>

      <ul>
        <div class="cards">
        <% @paintings.each do |painting| %>
          <div class="card-product">
            <div class="card-product-infos">
              <div>
                <% if painting.photo.attached? %>
                  <div class="image-display"><%= cl_image_tag(painting.photo.key,
                    width: 400, height: 300, crop: :fill) %></div>
                  <% end %>
                  <div class="row justify-content-center">
                    <h6><%= painting.name %></h6>
                  </div>
                  <p><%= painting.description %></p>
                  <p><%= painting.address %></p>
                  <h6> £<%= painting.price %> /per day</h6>
              </div>
            </div>
            <div class="row justify-content-center">
              <%= link_to 'More details', painting_path(painting), class: "btn btn-dark"%>
            </div>


        </div>
         <% end %>
        </div>
      </ul>


  </div>

<!-- </div> -->


<div class="row justify-content-center">
  <%= link_to 'Back', paintings_path %>
</div>



