
<p id="notice"><%= notice %></p>

<div class="row justify-content-center">
  <h1>Find the right painting for you.</h1>
</div>

<div class="container-index">
<ul>
  <% @paintings.each do |painting| %>
    <div class="card-trip">
      <div class="card-trip-infos">
        <div>
          <%= cl_image_tag(painting.photo.key,
              width: 400, height: 300, crop: :fill) %>
          <p><%= painting.name %></p>
          <p><%= painting.description %></p>
          <p><%= painting.price %></p>
        </div>
    </div>
  </div>
    <%= link_to 'More details', painting_path(painting), class: "btn btn-dark"%>
  <% end %>
</ul>
</div>


<div class="row justify-content-center">
  <%= link_to 'Back', paintings_path %>
</div>



