
<p id="notice"><%= notice %></p>

<h1>Find the right painting for you.</h1>


<ul>
  <% @paintings.each do |painting| %>
    <div class="card-trip">
      <div class="card-trip-infos">
        <div>
          <%= cl_image_tag(painting.photo.key,
              width: 400, height: 300, crop: :fill) %>
          <p><%= painting.name %></p>
          <p><%= painting.description %></p>
          <p><%= painting.price %></p>
        </div>
    </div>
  </div>
    <%= link_to 'More details', painting_path(painting), class: "btn btn-primary"%>
  <% end %>
</ul>


<%= link_to 'Back', paintings_path %>



