

    <%= simple_form_for model, method: verb, url: url do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :start_date, label: "Start Date", as: :date, html5: true%>
        <%= f.input :end_date, label: "End date", as: :date, html5: true %>
      </div>

          <div class="form-actions">
            <%= f.submit class: "btn btn-outline-dark  w-70"%>
          </div>


    <% end %>


