<div class="container">
  <h1>Your Booking Information</h1>

  <div class="booking-details">
    <div class="painting-image">
      <!-- insert cloudinary image -->
      <%= cl_image_tag(@painting.photo.key,
        width: 400, height: 300, crop: :fill) %>
    </div>

      <% if @booking.status == "pending" %>
        <p>You have requested to book <%=@painting.name%> for the period of <%= @booking.start_date %> to <%= @booking.end_date %></p>
        <p><%= @booking.status %> - awaiting approval from <%= @user.first_name %></p>
        <%= link_to 'Make changes to your booking request', edit_booking_path(@booking) %><br>
        <%= link_to 'Cancel my booking request', booking_path(@booking), method: :delete, data: { confirm: "Are you sure you wish to cancel your booking?" } %> <br>

      <% elsif @booking.status == "Approved" %>
        <p>All set! Your booking request for <%=@painting.name%> has been <%=@booking.status%> by <%=@user.first_name%>!</p>
        <p>For the period of <%= @booking.start_date %> to <%= @booking.end_date %></p>
        <p>Please collect your painting from <%= @painting.address %></p>
        <div id="map"
           style="width: 50%; height: 300px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <%= link_to 'Make changes to your booking', edit_booking_path(@booking) %><br>
        <%= link_to 'Cancel my booking', booking_path(@booking), method: :delete, data: { confirm: "Are you sure you wish to cancel your booking?" } %> <br>
      <% else %>
        <p>Unfortunately <%=@user.first_name%> has <%=@booking.status%> your booking request!</p>
        <%= link_to 'Booking another painting', paintings_path %>
      <% end %>
  </div>
  <%= link_to 'Return to your dashboard', dashboard_path %>
</div>
