

<div class="white_brown">
        <section>

          <div class="content">

            <div class="textBox">

              <h1>Art Rentals</h1>
              <h3>Why not explore your taste risk free.</h3>
              <h3>For a day, for a month or for a year,</h3>
              <h3>trust the power of art in your home.</h3>
              <% if user_signed_in?%>
                <%= link_to "Go to dashboard", dashboard_path, class: "btn btn-light" %>
              <% else %>
                <%= link_to "Explore further", new_user_registration_path, class: "btn btn-dark btn-lg" %>
                <%= link_to "Sign in", new_user_session_path, class: "btn btn-light" %>
              <% end %>
            </div>

              <div class="imgBox">
                  <%= cl_image_tag("m6gmzcwddkwl7ghw6fpu",
                    class: "klimt", crop: :fill) %>
              </div>

            </div>

            <ul class="thumb">
              <li><%= cl_image_tag("m6gmzcwddkwl7ghw6fpu",
              class: "thumbsize", onClick: "imgSlider('m6gmzcwddkwl7ghw6fpu')", crop: :fill) %> <!-- onclick="imgSlider('m6gmzcwddkwl7ghw6fpu')" --> </li>
              <li><%= cl_image_tag("nmjh9rl6033puar42qfd",
              class: "thumbsize", onClick: "imgSlider('nmjh9rl6033puar42qfd')", crop: :fill) %> <!-- onclick="imgSlider('nfnf92zo71vojtmalhqm')" --> </li>
              <li><%= cl_image_tag("nlkoz83gb2fy68n06ifr",
              class: "thumbsize", onClick: "imgSlider('nlkoz83gb2fy68n06ifr')", crop: :fill) %>  <!-- onclick="imgSlider('owookw4jh9xx9e4isfkp8x575gt9')" --> </li>
            </ul>

          </section>

          <script type="text/javascript">
            function imgSlider(anything){
              const baseUrl = "http://res.cloudinary.com/dy9hjwpmu/image/upload/c_fill/"
              const klimtElement = document.querySelector(".klimt")
              klimtElement.src = baseUrl + anything
            }
          </script>
</div>







